DRIVER=~fastapi
HOST=127.0.0.1
PORT=8080

ONEBOT_ACCESS_TOKEN=
ONEBOT_SECRET=

COMMAND_START=["","/"]
COMMAND_SEP=["."]

QXIAN_DATABASE_URL=sqlite:///data/qxian.db
QXIAN_MARKET_FEE_RATE=0.05
QXIAN_DAILY_POOL_RELEASE_RATE=0.2
